 <!-- Site Bottom Starts -->
 <div class="site-bottom">
    <!-- Footer Starts -->
    <footer class="site-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-4  col-md-8 mb-30 mb-lg-0">
                        <div class="single-footer">
                            <h3 class="footer-title">Contáctanos</h3>
                            <div class="single-footer__details">
                                <div class="contact-widget widget-phone">
                                    <div class="widget-logo">
                                        <img src="{{ asset('image/icons/icon-phone--chocolate.png') }}" alt="">
                                    </div>
                                    <span class="widget-text"><a href="tel:+56941490649">+56 9 4149 0649</a>
                                        <a href="tel:+56930712823">+56 9 3071 2823</a>
                                    </span>
                                    
                                </div>
                                <div class="contact-block">
                                    <p><a href="mailto:#">Aysen@Aysen</a></p>
                                </div>
                                <div class="social-links links-rounded-bg">
                                    <a href="https://www.facebook.com/VinasdeColchaguaAG" class="single-social" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/vinascolchagua/" class="single-social" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 mb-30 mb-lg-0">
                        <div class="single-footer">
                            <h3 class="footer-title">Información</h3>
                            <ul class="footer-list">
                                <li><a href="#" target="_blank" >Nosotros</a></li>
                                <li><a href="#" target="_blank" >Valle <span style="text-transform: lowercase">de </span> Aysén</a></li>
                                
                            </ul>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        {# espacio en blanco #}
                    </div>
                    <div class="col-lg-4 col-md-8 mb-30 mb-lg-0">
                        <div class="single-footer">
                            <h3 class="footer-title">Pagos en Línea</h3>
                            <div class="instagram-photos">
                                <a>
                                    <img src="{{ asset('image/others/webpay-logo.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-lg-6 col-md-6">
                        <p>Copyright © 2020 <a href="#" class="company-link" target="_blank"> Aysen</a>. All Right Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="payment-cards text-lg-right">
                        <p><a href="https://www.toursolutions.co">Powered by TourSolutions</a></p>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->
</div>
<!-- Site Footer Ends -->