{% block stylesheets %}
<style>
.navbar {
    width: 90%;
    float: left;
    display: block;
    padding: 38px 0;
    position: relative;
    z-index: 2;
}
</style>
{% endblock %}
<header class="header" >
 <div class="col-lg-12">   
  <div class="container" >
    <nav class="navbar" > <a href="index.html" class="navbar-brand"><img src="{{ asset('image/images/logo-dark.png')}}" alt="Image"></a>

        
      <ul class="navbar-nav" style="color: black !important;">
   
            <li class="nav-item dropdown"><a class="nav-link" href="/">INICIO</a>
              
                </li>
            <li class="nav-item dropdown mega-menu"><a class="nav-link" href="{{path('tours')}}">TOURS</a>
              <ul class="dropdown-menu  row">
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Hospedaje</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 614})}}" class="link dropdown-link">Vasa de los Artesanos</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">Huella Patagonia Lodge</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 619})}}" class="link dropdown-link">Hospedaje y Turismo Linlao</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li> 
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Exploración</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 616})}}" class="link dropdown-link">Aoni Rafting Patagonia</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 610})}}" class="link dropdown-link">Ecoturismo La Pancha</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 566})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li>   
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Gastronomia</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 578})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 560})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 313})}}" class="link dropdown-link">Test</a></li>
                    </ul>
                </li>         
              </ul>
            </li>
            <li class="nav-item dropdown mega-menu"><a class="nav-link" href="{{path('productosAll')}}">ACTIVIDADES</a>
              <ul class="dropdown-menu  row">
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Hospedaje</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 614})}}" class="link dropdown-link">Vasa de los Artesanos</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">Huella Patagonia Lodge</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 619})}}" class="link dropdown-link">Hospedaje y Turismo Linlao</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li> 
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Exploración</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 616})}}" class="link dropdown-link">Aoni Rafting Patagonia</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 610})}}" class="link dropdown-link">Ecoturismo La Pancha</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 566})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li>   
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Gastronomia</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 578})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 560})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 313})}}" class="link dropdown-link">Test</a></li>
                    </ul>
                </li>         
              </ul>
            </li>
            
            <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT</a></li>
            
          </ul>
        
    </nav>
    
    <!-- end navbar -->
  </div>
  <!-- end container -->
  <!-- Header Right Options -->
        
        <!-- Header Right Options /ends -->
</div>
</header>