{% block stylesheets %}
<style>
.header-sweden .inner .content .hero-search {
    width: auto;
    margin: 0 auto;
    margin-top: 10vh;
}

.navbar {
    width: 90%;
    float: left;
    display: block;
    padding: 38px 0;
    position: relative;
    z-index: 2;
}

ul {
 margin-left: 40px;
 padding-left: 0px;
}
</style>
{% endblock %}
<header class="header-sweden">
<div class="col-lg-12">
  <div class="container">
    <nav class="navbar"> <a href="index.html" class="navbar-brand"><img src="{{ asset('image/images/logo-light.png')}}" alt="Image"></a>

        <div class="menu-btn">
          <div class="menu-circle-wrap">
            <div class="wave"></div>
            <svg class="menu-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="52" height="52" viewBox="0 0 52 52">
            <path d="M1,26a25,25 0 1,0 50,0a25,25 0 1,0 -50,0"></path>
            </svg> </div>
          <div class="bars">
            <div class="bar b1"></div>
            <div class="bar b2"></div>
            <div class="bar b3"></div>
          </div>
        </div>
        <!-- end menu-btn -->
     <span class="search-btn"><i class="fa fa-search"></i></span>
      <ul class="navbar-nav ">
       <li class="nav-item dropdown "><a class="nav-link" href="/">INICIO</a>         
                </li>               
             <li class="nav-item dropdown mega-menu"><a class="nav-link" href="{{path('tours')}}">TOURS</a>
              <ul class="dropdown-menu  row">
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Hospedaje</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 614})}}" class="link dropdown-link">Vasa de los Artesanos</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">Huella Patagonia Lodge</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 619})}}" class="link dropdown-link">Hospedaje y Turismo Linlao</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li> 
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Exploración</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 616})}}" class="link dropdown-link">Aoni Rafting Patagonia</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 610})}}" class="link dropdown-link">Ecoturismo La Pancha</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('TourPorEmpresa', {'empresaId': 566})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li>   
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Gastronomia</h3>
                    </a>
                    <ul class="sub-dropdown-menu" >
                        <li ><a href="{{path('TourPorEmpresa', {'empresaId': 578})}}" class="link dropdown-link">-</a></li>
                        <li ><a href="{{path('TourPorEmpresa', {'empresaId': 560})}}" class="link dropdown-link">-</a></li>
                        <li ><a href="{{path('TourPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li ><a href="{{path('TourPorEmpresa', {'empresaId': 313})}}" class="link dropdown-link">Test</a></li>
                    </ul>
                </li>         
              </ul>
            </li>
            <li class="nav-item dropdown mega-menu"><a class="nav-link" href="{{path('productosAll')}}">ACTIVIDADES</a>
              <ul class="dropdown-menu  row">
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Hospedaje</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 614})}}" class="link dropdown-link">Vasa de los Artesanos</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">Huella Patagonia Lodge</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 619})}}" class="link dropdown-link">Hospedaje y Turismo Linlao</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 602})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li> 
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Exploración</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 616})}}" class="link dropdown-link">Aoni Rafting Patagonia</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 610})}}" class="link dropdown-link">Ecoturismo La Pancha</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 566})}}" class="link dropdown-link">-</a></li>
                    </ul>
                </li>   
                <li class="col-custom ">
                    <a >
                        <h3 class="menu-title">Gastronomia</h3>
                    </a>
                    <ul class="sub-dropdown-menu">
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 578})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 560})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 563})}}" class="link dropdown-link">-</a></li>
                        <li><a href="{{path('productosPorEmpresa', {'empresaId': 313})}}" class="link dropdown-link">Test</a></li>
                    </ul>
                </li>         
              </ul>
            </li>
        <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT</a></li>
      </ul>
    </nav>
    <!-- end navbar -->
  </div>
  <!-- end container -->
  <div class="inner">      
    <div class="content">
        <div class="container">
          <h1>Tu Puerta De Entrada a La Patagonia!</h1>
          <a href="#" class="link"><img src="{{ asset('image/images/arrow-link.png')}}" alt="Image">LEARN MORE</a>
        </div>
    <div class="hero-search">
      <form>
              <div class="form-group"> <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Activities, Themes or Tours">
              </div>
              <!-- end form-group -->
              <div class="form-group datepicker"> <i class="fa fa-calendar-o"></i>
                <input type="text" class="datepicker__input" placeholder="Choose Date">
              </div>
              <!-- end form-group -->
              <button type="submit">BUSCAR</button>
            </form>
            <dl>
              <dt>Suggestions <i class="fa fa-long-arrow-right"></i></dt>
              <dd><a href="#">Adventure</a></dd>
              <dd><a href="#">Nothern Lights</a></dd>
              <dd><a href="#">Waterfalls</a></dd>
              <dd><a href="#">Winter Tours</a></dd>
              <dd><a href="#">Glaciar Walk</a></dd>
            </dl></div>
                </div>
  </div>
</div>  
  <!-- end inner -->

</header>
<!-- end header -->