{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Carrito{% endblock %}

{% block body %}
<style>
    
      .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
      
</style>
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerstatic.html.twig' %}

  <!-- Cart Page Start -->
  <div class="cart_area cart-area-padding">
 
    <div class="container row">
     {% if app.session.get('cartId') is null %}
  <h1>El carro se encuentra vacío</h1>
  {% else %}
      <div class="row">
        
        <div class="col-lg-12">
         
          <form action="#">
            <!-- Cart Table -->
            <div class="cart-table table-responsive mb--40" >
              <table class="table" >
                <thead>
                  <tr style="background-color: #ffa544 !important; ">
                    <th style="color: #ffff;" class="pro-thumbnail">Imagen</th>
                    <th style="color: #ffff;" class="pro-title">Producto</th>
                    <th style="color: #ffff;" class="pro-price">Precio</th>
                    <th style="color: #ffff;" class="pro-quantity">Cantidad</th>
                    <th style="color: #ffff;" class="pro-subtotal">Total</th>
                    <th style="color: #ffff;" class="pro-remove">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in cart.products_sales %}
                  
                  <tr>
                    <td class="pro-thumbnail"><a><img src="{{ asset(product.product_image) }}"

                          alt="Product"></a></td>
                    <td class="pro-title"><a>{{product.product_name}} - {{ product.variant_name }}</a></td>
                    <td class="pro-price"><span>${{product.product_price |number_format }}</span></td>
                    <td class="pro-price"><span>{{product.quantity}}</span></td>
                    <td class="pro-subtotal">
                      <div class=" d-flex justify-content-center">
                        
                          {% if product.discounted_price is null %} 
                          <span id="original-price" style="float:left">
                            ${{product.original_price | number_format }} 
                          </span>
                          {% else %} 
                          <span id="original-price" style="float:left;">
                            $<del>{{product.original_price | number_format }}</del>
                          </span>
                          {% endif %}
                       
                        <span id="price-after-discount" style="float:left;color:orange">
                          {% if product.discounted_price is not null %}
                            &nbsp;&nbsp;{{product.discounted_price| number_format }}
                            {% endif %}
                        </span> 
                      </div>
                      
                    </td>
                    <td class="pro-remove"><a onclick="eliminarProducto({{product.sale_id}})" {#href="{{path('deleteFromCart',{'saleId': product.sale_id})}}"#}><i class="far fa-trash-alt"></i></a></td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </form>

          <div class="row">
            {# cupon de descuento
            <div class="col-lg-6 col-12 mb--15">
              
              <!-- Discount Coupon -->
              <div class="discount-coupon">
                <h4><span style="text-transform: none; font-family: rubik;"  >Obtén un 40% de descuento con tu tarjeta Bci</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-md-6 col-12 mb--25">
                      <input type="number" min="100000" max="999999"  id="codigoCupon"  placeholder="1234-56XX-XXXX-XXXX">
                    </div>
                    <div class="col-md-6 col-12 mb--25">
                      <input class="btn" value="Validar" style="font-weight: 700;
                      text-transform: uppercase;
                      color: #fff;
                      background-color: #B3936D;
                      border-color: #B3936D;
                      width: 140px;
                      line-height: 27px;
                      cursor: pointer;" onclick="validarCupon()">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <small class="text-white">Importante: Ingresa los 6 primeros dígitos de tu tarjeta de crédito y luego haz click en VALIDAR.  Asegúrate de agregar todos los productos al carrito de compras antes de validar el descuento, sino tendrás que volver a recalcular, ingresar el código y validar nuevamente.</small>
                    </div>
                  </div>
                </form>
              </div>
            </div>#}
            <!-- RESUMEN -->
            <div class="col-lg-12 col-12 mb--40 d-flex" >
              <div class="cart-summary">
                <div class="cart-summary-wrap" style="background-color: #ffa544 !important; ">
                  <h4 style="color: #ffff;">Resumen</h4>
                  <p style="color: #ffff;">Sub Total: <span>${{cart.subtotal | number_format }}</span></p>
                  {% if cart.total_discount!=0 %}
                  <p>Descuento Bci: <span id="descuento"></span></p>
                  <p>Total Descuento:  <span id="summary-discount">${{cart.total_discount | number_format }}</span></p>
                  {% endif %}
                  
                  <h2>Total <span id="final-total">${{cart.total_price | number_format }}</span></h2>
                </div>
                <div class="cart-summary-button">
                  <a href="{{path('resumen')}}"><button class="checkout-btn" style="background: #ffa544 !important;">Ir a pagar</button></a>
                  {#<button class="update-btn">Update Cart</button>#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       {% endif %}
    </div>
   
  </div>
  <!-- Cart Page End -->


  {% include 'AppBundle:base:footer.html.twig' %}
</div>

{% endblock %}

{% block javascripts %}
{% if app.session.get('cartId') is not null %}
  <script>
    $( document ).ready(function() {
      var codeCup = "{{ code }}";
      if(codeCup){
        console.log(codeCup);
        $('#codigoCupon').val(codeCup);
      }
      
    });
    {% if cart.total_discount != 0 %}
      $("#descuento").html('40%')
    {% endif %}
    var precioPagar = '{{cart.total_price}}';
    function validarCupon(){
     
      if("{{app.session.get('cartId')}}" != '' && $('#codigoCupon').val()!= ''){
        parametros = {'cartId': "{{app.session.get('cartId')}}", 'code': $('#codigoCupon').val()}
        url = Routing.generate('validarCupon', parametros);
        $.ajax({
          type: "GET",
          url: url,
          dataType: 'json',
          success: function(response,data, textStatus, xhr) {
            console.log(response);
            if(response.codigoValido==1){
              
              location.reload();
            }else {
              alert('Código inválido');
            }
          
          },
          error: function(response,data,textStatus,xhr){
            
          }
        });
      }
      
    }

    function eliminarProducto(id_producto) {
      parametros = {'saleId': id_producto, 'code': $('#codigoCupon').val()}
      url = Routing.generate('deleteFromCart', parametros);
      location.href = url;
    }
  </script>
  {% endif %}
{% endblock %}