{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Chelenko - Error al comprar{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
    {% include 'AppBundle:base:headerstatic.html.twig' %}
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('index')}}">Home</a></li>
                <li><a href="#">Error</a></li>
            </ul>
        </div>
    </div>
    <div class="page-section mb--50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12 col-12 mt--30 mt-lg-0">
                            <div class="tab-content" id="myaccountContent">
                                <div class="tab-pane fade show active" id="payment-method" role="tabpanel">
                                    <div class="myaccount-content text-center">
                                      <h3>Error de compra</h3>
                                      <p >A habido un error al realizar la compra</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'AppBundle:base:footer.html.twig' %}
{% endblock %}