{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - inicio{% endblock %}

{% block body %}
<!-- Site Wrapper Starts -->
<div class="site-wrapper">
{% include 'AppBundle:base:header.html.twig' %}
<div class="hero-area" style="width: 100%">

  <!-- end header -->
  <section class="about-us-desc" >
    <div class="container">
      <div class="row"> 
        <div class="col-12 text-center">
        <div class="section-title">
            <h2>The Most Awarded Adventure
              Tour Company in Europe</h2>
            <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image"> </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-lg-6">
          <p>Orci varius natoque penatibus et magnis dis turient montes nascetur ridiculus mus. Cras eleifend tellus sed congue ectetur velit turpis faucibus odio eget volutpat odio lectus eu erat.</p>
          <p>Pellentesque vestibulum fermentum velit non placerat aecenas in hendrerit justo quisque quis rhoncus exeget semper semlam at lobortis velit. Vestibulum ante ipsum primis in faucibus orcie luctus et ultrices posuere Cubilia Curae ed dignissim leo lorema condimentum mauris vestibulum et maecenas vitae urna aced magna facilisis porttitor.</p>
          <p>Fusce in eros at lectus mollis pulvinar. Nullam in auctor mimus consectetur ullamcorper facilisis vivamus luctus.</p>
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6">
          <p>Varius natoque penatibus et magnis dis turient montes scetur ridiculus mus. Cras eleifend tellus sed congue ectetur velit urpis faucibus odio eget volutpat odio lectus eu erat esque estibulum fermentum velit non placerat aecenas in hendrerit justo.</p>
          <p>Quisque quis rhoncus exeget semper semlam at lobortis velit estibulum ante ipsum primis in Faucibus Orcie luctus et ultrices posuere cubilia curae ed dignissim leo lorema condimentum mauris vestibulum et maecenas vitae urna aced magna cilisis cubilia curae ed Dignissim Porttitor fusce in eros at lectus mollis pulvinar. Nullam in auctor mimus consectetur ullamcorper facilisis vivamus luctusodio lectus eu erat esque estibulum fermentum velit non placerat aecenas.</p>
        </div>
        <!-- end col-6 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end about-us-desc -->
  <section class=" home-1__product--new section-padding space-db--30" id="bodegas" style="background-color:white">
          <div class="container">
              <div class="section-title section-title-sep-1">
                  <h2 class="text-black"><strong>Empresas</strong></h2>
                  
              </div>
              <div class="myGallery row">
                <div class="col-lg-4">  

                  {# Bisquertt #}
                  <a href="{{path('productosPorEmpresa', {'empresaId': 558})}}">
                      <img src="{{ asset('image/logos/500x333/02.- bisquertt5-logo.png')}}" />
                  </a>
                </div>
                <div class="col-lg-4">
                  {# Casa Silva #}
                  <a href="{{path('productosPorEmpresa', {'empresaId': 575})}}">
                      <img src="{{ asset('image/logos/500x333/03.- logo_vina_11.png')}}" />
                  </a>
                </div>
                <div class="col-lg-4">
                  {# Sutil #}
                  <a href="{{path('productosPorEmpresa', {'empresaId': 578})}}">
                      <img src="{{ asset('image/logos/500x333/17.B.- logo_sutil_transparente.png')}}" />
                  </a>
                </div>  
              </div>
           </div>   
          
  </section>
  <!-- end popular-tours -->
  
  <section class="popular-tours">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title">
            <h2>Los Tours Más Populares  </h2>
            <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image"> 
          </div>
          <!-- end section-title -->
        </div>
            <!-- end col-6 -->
            <div class="col-lg-6">
              <p class="section-desc">The university president sends out a memo that says, “Sorry, Scandinavian Traveller.” Not literally you have to read between the lines. It mentions higher course loads and reduced travel money.</p>
            </div>
            <!-- end col-6 -->
          
            {% for tour in tours|slice(0,6) %}
              <div class="col-lg-4">
                  <div class="tour-box">
                    <figure><img src="{{tour.img}}" alt=""></figure>
                    <div class="tour-content">
                      <h3>{{tour.name}}</h3>
                      {#<p>{{tour.description}}</p>#}
                      <div class="inner">
                        <ul >
                          <li> <img src="{{ asset('image/images/icon-date.png')}}" alt="Image"> <small>Hora Inicio</small> <span>{{tour.horaInicio}}</span> </li>
                          <li> <img src="{{ asset('image/images/icon-time.png')}}" alt="Image"> <small>Duración</small> <span>{{tour.duracion}}</span> </li>
                          <li> <img src="{{ asset('image/images/icon-tag.png')}}" alt="Image"> <small>Desde:</small> <span>${{tour.price}}</span> </li>
                        </ul>
                      
                      </div>
                      <!-- end inner -->
                      <a href="{{tour.url}}">RESERVA EN LÍNEA</a>
                    </div>
                    <!-- end tour-content -->
                  </div>
                  <!-- end tour-box -->
              </div>
              
            {% endfor %}
        </div>
        <!-- end col-4 -->
        <div class="col-12 text-center"> <a href="#" class="site-btn">LOAD MORE</a> </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <section class="things-todo">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="section-title">
            <h2>Things To Do</h2>
            <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image">
          </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-md-6 border-right">
          <ul class="pull-left">
            <li><img src="{{ asset('image/images/attractions-icon01.jpg')}}" alt="Image"> Climbing Glaciers</li>
            <li><img src="{{ asset('image/images/attractions-icon02.jpg')}}" alt="Image"> Setting up Camps at Night</li>
            <li><img src="{{ asset('image/images/attractions-icon03.jpg')}}" alt="Image"> Beautiful Sight Seeing</li>
            <li><img src="{{ asset('image/images/attractions-icon04.jpg')}}" alt="Image"> Hiking The Icy Trails</li>
            <li><img src="{{ asset('image/images/attractions-icon05.jpg')}}" alt="Image"> Kayaking in Ocean</li>
          </ul>
        </div>
          <!--end col-6 -->
        <div class="col-md-6">
          <ul class="pull-right">
            <li><img src="{{ asset('image/images/attractions-icon06.jpg')}}" alt="Image"> Skiing on the Ice</li>
            <li><img src="{{ asset('image/images/attractions-icon07.jpg')}}" alt="Image"> Take Photos</li>
            <li><img src="{{ asset('image/images/attractions-icon08.jpg')}}" alt="Image"> Underwater Tours</li>
            <li><img src="{{ asset('image/images/attractions-icon09.jpg')}}" alt="Image"> Water Scooters</li>
            <li><img src="{{ asset('image/images/attractions-icon10.jpg')}}" alt="Image"> Surfing in the Ocean</li>
          </ul>
        </div>
       <!--end col-6 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end things-todo -->
  <section class="recent-blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Recent Blog Posts</h2>
            <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image"> </div>
          <!-- end section-title -->
        </div>
        <!-- end col-12 -->
        <div class="col-lg-4">
          <div class="blog-post">
            <figure class="post-image"> <img src="{{ asset('image/images/blog-thumb01.jpg')}}" alt="Image"> </figure>
            <div class="post-content"> <small>2018-03-02 <span>|</span>BY GFXPARTNER</small>
              <a href="blog-single.html"><h3>An Enchanted Ice Cave in Midst of Denmark</h3></a>
              <a href="blog-single.html" class="read-more">READ MORE</a>
              </div>
            <!-- end post-content -->
          </div>
          <!-- end blog-post -->
        </div>
        <!-- end col-4  -->
        <div class="col-lg-4">
          <div class="blog-post">
            <figure class="post-image"> <img src="{{ asset('image/images/blog-thumb02.jpg')}}" alt="Image"> </figure>
            <div class="post-content"> <small>2018-03-02 <span>|</span>BY GFXPARTNER</small>
              <a href="blog-single.html"><h3>Laugavegur Trek Classic (Huts) for Camping</h3></a>
              <a href="blog-single.html" class="read-more">READ MORE</a>
            </div>
            <!-- end post-content -->
          </div>
          <!-- end blog-post -->
        </div>
        <!-- end col-4  -->
        <div class="col-lg-4">
          <div class="blog-post">
            <figure class="post-image"> <img src="{{ asset('image/images/blog-thumb03.jpg')}}" alt="Image"> </figure>
            <div class="post-content"> <small>2018-03-02 <span>|</span>BY GFXPARTNER</small>
              <a href="blog-single.html"><h3>How to Reach the Peak Without Exhausting</h3></a>
              <a href="blog-single.html" class="read-more">READ MORE</a> </div>
            <!-- end post-content -->
          </div>
          <!-- end blog-post -->
        </div>
        
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end recent-blog -->
  <section class="quote bg-image" data-background="{{ asset('image/images/quote-bg01.jpg')}}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>The Most Awarded Adventure<br>
            Tour Company in Europe</h2>
          <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image">
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. In erat est viverra fringilla euismod in fermentum sed augue nullam consectetur ligula id elementum.</p>
          <a href="#" class="site-btn">LEARN MORE</a>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    
  </section>
  </div>
</div>
<!-- end quote -->
    </div>
        {% include 'AppBundle:base:footer.html.twig' %}

    </div>


    {% endblock %}
    {% block javascripts %}
        <script>
            $(document).ready(function(){
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){
            
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
                } // End if
            });
            });
        </script>
    {% endblock javascripts %}