{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Chelenko - exito de comprar{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
    {% include 'AppBundle:base:headerstatic.html.twig' %}
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('index')}}">Home</a></li>
                <li><a href="#">Exito</a></li>
            </ul>
        </div>
    </div>
    <div class="page-section mb--50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12 col-12 mt--30 mt-lg-0">
                            <div class="tab-content" id="myaccountContent">
                                <div class="tab-pane fade show active" id="orders" role="tabpanel" >
                                    <div class="myaccount-content">
                                        <h3>Orders</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nomnbre</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio Original</th>
                                                        <th>Total Pagado</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for product in cart.products_sales %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ product.product_name}}</td>
                                                        <td>{{ product.quantity }}</td>
                                                        <td>{{ product.original_price }}</td>
                                                        <td>{{ product.product_price }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                            </div>
                        </div>
                        <!-- My Account Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'AppBundle:base:footer.html.twig' %}
{% endblock %}