{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Producto{% endblock %}

{% block body %}
<style>
    
      .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
</style>
{% include 'AppBundle:base:headerstatic.html.twig' %}
  
  
  <section class="section-padding ">
    <div class="container">
     
      <div class="belly-product belly-product--details product-details--left-thumbnail">
        <div class="row col-lg-12">
          <div class="col-lg-5">
            <div class="product__image">
              <div class="product-image-main">
                <img id="zoom_03" src="{{asset(product.images[0].url)}}"
                  data-zoom-image="{{asset(product.images[0].url)}}" />
              </div>
              <div id="product-view-gallary" class="product-view-slider product-view-standered-slider-2">
                {% for image in product.images %}
                <a href="#" class="gallary-item" data-image="{{asset(image.url)}}"
                  data-zoom-image="{{asset(image.url)}}">
                  <img src="{{asset(image.url)}}" />
                </a>
                {% endfor %}            
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="product-description">
              <h3 class="product__caption">{{ product.name}}</h3>
              
              <div class="product__price">
                <span id="price" class="price--new">${{ product.price|number_format }}</span>
              </div>
              <div class="product-description--list">
                <br>
               
                <br>
                <p>Bodega: <a class="brand-tag text-primary">{{ product.brand}}</a></p>
                <p>SKU: <span class="text-primary">VDC-00-{{ product.id}}</span> </p>
                <p>Disponibilidad: <span class="text-primary">{% if product.stock>0 %} Hay Stock {% else %} Sin Stock {% endif %}</span></p>

                <div class="row" style="margin-bottom: 25px">
                    {% for option in product.options %}
                      <div class="col-md-12">
                        <div class="form-group">
                          <label style="font-size:14px"><b>{{option.name}}</b></label>
                          <select class="form-control form-control-lg product-option" name="option_{{loop.index}}" id="option_{{loop.index}}">
                            {% for value in option.values %}
                              <option value="{{value.name}}">{{value.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    {% endfor %}
                </div>

              </div>
              
                
              <div class="product-description--breif">
                <h2 class="title-font" style="color: #B3936D">Descripción</h2>
                <br>
                <p class="text-justify">
                  {{ product.description }}
                </p>
              </div>
              <div class="product-buttons--group ">
                <div class="single-btn-block count-input-block">
                  <input type="number" class="form-control text-center" value="1" min="1" max="{{product.stock}}" id="product_quantity">
                  <div class="count-input-btns">
                    <button class="inc-ammount count-btn">+</button>
                    <button class="dec-ammount count-btn">-</button>
                  </div>
                </div>

                <div class="single-btn-block">
                
                 {# <a class="btn theme-btn" onclick="addToCartAjax()">Agregar al Carrito</a>#}
                 <form action="{{path('addToCart')}}" method="POST" id="product-form">
                  <input type="hidden" name="variant_id" value="{{product.variants[0].id}}" id="variantId">
                  <input id="send" type="submit"  class="btn theme-btn" value="Agregar al Carrito"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
     
    </div>
  </section>
  

  {% include 'AppBundle:base:footer.html.twig' %}

</div>
{% endblock %}
{% block javascripts %}
<script>
  
  
  $( document ).ready(function() {
    $('.body-element').addClass('elevet-enable');
    $( "#product-form" ).submit(function( event ) {
      $(this).append('<input type="hidden" name="product_id" value="'+"{{product.id}}"+'" /> ');
      //$(this).append('<input type="hidden" name="variant_id" value="'+"{{product.variants[0].id}}"+'" /> ');
      $(this).append('<input type="hidden" name="quantity_products" value="'+$('#product_quantity').val()+'" /> ');  
      return true;
    });

    $(".product-option").change(function(){
      var variantName ="";
      var productId= "{{product.id}}";
      $(".product-option").each(function(){
        if (variantName != '') {
          variantName = variantName +'/'+$(this).val();
        }else{
          variantName = $(this).val();
        }
      });

      //$("#title").val(variantName);
      var parametros = {
        "variantName": variantName,
        "productId" : productId
      };

      $.ajax({
        type: 'GET',
        url: Routing.generate('checkProductVariant'),
        data: parametros,
        dataType: "json",
        beforeSend: function(){
          $("#send").attr("disabled", true);
          $("#send").attr("value", 'Cargando...');
        },
        success: function(response){
          console.log(response);
          var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',

            // These options are needed to round to whole numbers if that's what you want.
            minimumFractionDigits: 0,
            maximumFractionDigits: 0,
          });
          //$("#div-carousel").html(response.html);
          //console.log("stock: "+response.stock);
          //$(".divtags #id_"+atribute+"_"+value).remove();
          //console.log("div a eliminar: #id_"+atribute+"_"+value);
          $("#variantId").val(response.id);
          document.getElementById("price").innerHTML = formatter.format(response.price);
          $("#send").attr("disabled", false);
          $("#send").attr("value", 'Agregar al Carrito');
        }
        });
      console.log("la variante es: " + variantName);
    });

  });

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  } 

  function addToCartAjax(){
    {% if app.session.get('cartId') is empty %}
      var cart_id = null;
    {% else %}
      var cart_id ="{{app.session.get('cartId')}}";
    {% endif %}
    /*
    if("{{app.session.get('cartId')}}"== '')
    {
      var cart_id = null; 
      alert('ta vacio');
    }
    else
    {
      alert("{{app.session.get('cartId')}}");
       var cart_id ="{{app.session.get('cartId')}}";
    }*/
   
    data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data, 
      success: function(response,data, textStatus, xhr) {
        if(cart_id == null)
        {
          parametros = {'cartId': response[0].cart_id}
            var url = Routing.generate('createCartSession', parametros);          
            $.ajax({
              type: "POST",
              url: url,    
              success: function(response,data, textStatus, xhr) {   
                location.reload();    
              }
            });
        }
                 
      }
    });
  }

  function addToCart(){
     data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data, 
      success: function(response,data, textStatus, xhr) {
        if(cart_id == null)
        {
          parametros = {'cartId': response[0].cart_id}
            var url = Routing.generate('createCartSession', parametros);          
            $.ajax({
              type: "POST",
              url: url,    
              success: function(response,data, textStatus, xhr) {   
                location.reload();    
              }
            });
        }
                 
      }
    });
  }
</script>
{% endblock %}