{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Tienda{% endblock %}

{% block stylesheets %}

  <style>
    .float{
      position: fixed;
      z-index: 2147483647;
      width: 60px;
      height: 40px;
      background: #b3936d;
      color: #ffffff;
      right: 20px;
      top: 100px;
      line-height: 40px;
      text-align: center;
      overflow: hidden;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
  </style>

{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerstatic.html.twig' %}

  <!-- Quick View Modal -->

  
  <div class="belly-bredcrumb-section col-lg-12">
    <div class="section-title section-title-sep-1">
      <h2>Sala de Ventas {#{url.fantasy_name}#}</h2>
      {#<p>Promoción válida sólo para clientes Bci desde el 19 al 25 de octubre.<br>
          DESPACHO GRATUITO SOLO EN LA REGIÓN METROPOLITANA</p>#}
  </div>
  </div>
  <section class="section-padding pt-0">
    <div class="container">
      {#<div class="shop-toolbar mb-30">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-6 col-5">
            <!-- Product View Mode -->
            <div class="product-view-mode">
              <a class="sortting-btn" href="#" data-target="list"><i class="fas fa-list"></i></a>
              <a href="#" data-target="grid" class="sortting-btn  active"><i class="fas fa-th"></i></a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-3 col-md-6 col-7">
            <div class="sorting-selection row">
              <select id="input-sort" class="form-control col-lg-6 col-6">
                <option value="" selected="selected">Ordenar por:Defecto</option>
                <option value="">Ordenar
                  Por:Nombre (A - Z)</option>
                <option value="">Ordenar
                  Por:Nombre (Z - A)</option>
                <option value="">Ordenar
                  Por:Precio (Low &gt; High)</option>
                <option value="">Ordenar
                  Por:Precio (High &gt; Low)</option>
                <option value="">Ordenar
                  Por:Clasificación (La más alta)</option>
                <option value="">Ordenar
                  Por:Clasificación (La más baja)</option>
                <option value="">Ordenar
                  Por:Modelo (A - Z)</option>
                <option value="">Ordenar
                  Por:Modelo (Z - A)</option>
              </select>
              <select id="input-limit" class="form-control col-lg-4 offset-lg-2 col-6">
                <option value="" selected="selected">Mostrar:9</option>
                <option value="">Mostrar:25</option>
                <option value="">Mostrar:50</option>
                <option value="">Mostrar:75</option>
                <option value="">Mostrar:100</option>
              </select>
            </div>
          </div>
        </div>
      </div>#}
      <div class="shop-product-wrap grid with-pagination row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
          <div class="belly-product">
            <div class="product__image">
              <img src="{{asset(product.img)}}" alt="">
              <div class="hover-content">
                <a href="{{path('producto',{'id':product.id})}}" class="hover-image">
                  <img src="{{asset(product.img)}}" alt="">
                </a>
                <div class="hover-btns">
                  {#<a href="" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#quick-view"><i class="ion-md-open"></i></a>#}
                </div>
              </div>
            </div>
            <div class="product-contents">
              <h3 class="product__caption">
                <a href="{{path('producto',{'id':product.id})}}">{{product.name}}</a>
                
              </h3>
              <span class="blog-subtitle">{{product.brand}}</span>
             
              <div class="product__price">
                {% if product.comparison_price is not null %}
                  <span class="price--old">${{product.comparison_price|number_format }}</span>
                {% endif %}
                <span class="price--new">${{product.price|number_format }}</span>
              </div>
              <p class="product-info-para">
                {{product.description}}
              </p>
              <div class="product__btn">
                <a href="{{path('producto',{'id':product.id})}}" class="theme-btn-outlined--type-2">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {#<div class="pagination-widget">
        <div class="row align-items-sm-center">
          <div class="col-sm-6 text-sm-left">
            <div class="site-pagination">
              <a href="#" class="single-pagination">|< </a>
                  <a href="#" class="single-pagination">
                    < </a>
                      <a href="#" class="single-pagination">1</a>
                      <a href="#" class="single-pagination">2</a>
                      <a href="#" class="single-pagination">></a>
                      <a href="#" class="single-pagination">>|</a>
            </div>
          </div>
          <div class="col-sm-6 text-sm-right">
            <p class="mt-0 mt-sm-3">
              {#Mostrando desde 1 a 9 of 11 (2 Páginas)#}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {#<a href="{{ url.url }}" target="_blank" class="float">
    Tours
  </a>#}
  {% include 'AppBundle:base:footer.html.twig' %}

</div>
<!-- Site Wrapper Ends -->


{% endblock %}