{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Tienda{% endblock %}

{% block stylesheets %}

  <style>
    .float{
      position: fixed;
      z-index: 2147483647;
      width: 60px;
      height: 40px;
      background: #b3936d;
      color: #ffffff;
      right: 20px;
      top: 100px;
      line-height: 40px;
      text-align: center;
      overflow: hidden;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
  </style>

{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerstatic.html.twig' %}

  <!-- Quick View Modal -->

  
  <div class="belly-bredcrumb-section col-lg-12">
    <div class="section-title section-title-sep-1">
      <h2>Sala de Ventas </h2>
      
  </div>
  </div>
  <section class="section-padding pt-0">
    <div class="container">
      
      <div class="shop-product-wrap grid with-pagination row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
          <div class="belly-product">
            <div class="product__image">
              <img src="{{asset(product.img)}}" alt="">
              <div class="hover-content">
                <a href="{{path('producto',{'id':product.id})}}" class="hover-image">
                  <img src="{{asset(product.img)}}" alt="">
                </a>
                <div class="hover-btns">
                  {#<a href="" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#quick-view"><i class="ion-md-open"></i></a>#}
                </div>
              </div>
            </div>
            <div class="product-contents">
              <h3 class="product__caption">
                <a href="{{path('producto',{'id':product.id})}}">{{product.name}}</a>
                
              </h3>
              <span class="blog-subtitle">{{product.brand}}</span>
             
              <div class="product__price">
                {% if product.comparison_price is not null %}
                  <span class="price--old">${{product.comparison_price|number_format }}</span>
                {% endif %}
                <span class="price--new">${{product.price|number_format }}</span>
              </div>
              <p class="product-info-para">
                {{product.description}}
              </p>
              <div class="product__btn">
                <a href="{{path('producto',{'id':product.id})}}" class="theme-btn-outlined--type-2">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
     
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {#<a href="{{ url.url }}" target="_blank" class="float">
    Tours
  </a>#}
  {% include 'AppBundle:base:footer.html.twig' %}

</div>
<!-- Site Wrapper Ends -->


{% endblock %}