{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Revisar Datos{% endblock %}

{% block body %}
<style>
    
      .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
      .checkout-form input {
      width: 100%;
      background-color: #fff !important;
      border: 1px solid #565f69;
      border-radius: 0;
      line-height: 23px;
      padding: 10px 20px;
      font-size: 14px;
      color: black !important;
      margin-bottom: 15px;
      }
      .checkout-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
    color: black !important;
    }   
    .checkout-cart-total ul li span {
    color: black !important;
    float: right;
  }
  .checkout-cart-total p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: black !important ;
    padding: 10px 0;
    border-bottom: 1px solid #565f69;
    margin: 0;
}
</style>

  {% include 'AppBundle:base:headerstatic.html.twig' %}
 <section class="section-padding ">
    <div class="container">
     
      <div class="belly-product belly-product--details product-details--left-thumbnail">
        <div class="row col-lg-12">
          <form action="{{path('resumen')}}" method="POST" class="checkout-form row" id="checkout-form">
            <div class="row ">

              <div class="col-lg-7 ">

                <!-- Billing Address -->
                <div id="billing-form" class="mb-40">
                  <h4 class="checkout-title">Información de contacto</h4>

                  <div class="row">

                    <div class="col-md-12 col-12 mb--20">
                      <label>Nombres y Apellidos</label>
                      <input required="required" type="text" name="costumerName" placeholder="First Name">
                    </div>

                    <div class="col-md-6 col-12 mb--20">
                      <label>Correo Electrónico </label>
                      <input required="required" type="email" name="costumerEmail" placeholder="Correo electrónico">
                    </div>

                    <div class="col-md-6 col-12 mb--20">
                      <label>Número de contacto</label>
                      <input required="required" type="number" name="costumerPhone" placeholder="9 1234 4567"
                        maxlength="9">
                    </div>

                    <div class="col-md-12 col-12 mb--20">
                      <h4 class="checkout-title">Información de envío </h4>
                    </div>


                    <div class="col-md-6 col-12 mb--20">
                      <label>Nombre Y Apellido</label>
                      <input required="required" type="text" name="shippingName" placeholder="Nombres y Apellidos">
                    </div>

                    <div class="col-md-6 col-12 mb--20">
                      <label>Rut</label>
                      <input id="rut" required="required" type="text" name="shippingRut" placeholder="Rut 12345678-9"
                        maxlength="10">
                      <span id="error-rut" style="display:none;color:red">Rut no es válido o no se ingresó en el formato
                        11111111-1</span>
                    </div>

                    <div class="col-md-12 col-12 mb--20">
                    	<label for="method_shipping_id">Seleccione una Región:</label>
                    	<select id="region" name="method_region_id" class="nice-select" required>
                      		<option value="0" selected>Región Metropolitana de Santiago​​</option>
                    	</select>
                    </div>

                    <div class="col-md-6 col-12 mb--20">
                      <label>Ciudad</label>
                      <input required="required" type="text" name="shippingCity" placeholder="Ciudad">
                    </div>

                    <div class="col-md-6 col-12 mb--20">
                      <label>Comuna</label>
                      <input required="required" type="text" name="shippingCommune" placeholder="Comuna">
                    </div>
                    <div class="col-md-12 col-12 mb--20">
                      <label>Dirección</label>
                      <input required="required" type="text" name="shippingAddress" id="mensaje" placeholder="Dirección"
                        maxlength="69">
                      <span id="success-mensaje" style="display:none;color:green"></span>
                      <span id="error-mensaje" style="display:none;color:red"></span>
                      <div id="contador">0/69</div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-lg-5">

                <div class="row">
                  <div class="col-12 mb--60">

                    <h4 class="checkout-title">Método de envío</h4>

                    <label for="method_shipping_id" >Seleccione un método de envío:</label>
                    <select id="shipping" name="method_shipping_id" class="nice-select" required >
                      {% for method in shippingMethods %}
                      <option value="{{method.id}}" selected shipping-amount="{{method.fee}}" shipping-dynamic="{{method.dynamic_fee}}" values-up-to="{{method.values_up_to}}">{{method.delivery_time}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  <!-- Cart Total -->
                  <div class="col-12 mb--60">

                    <h4 class="checkout-title">Total a pagar</h4>

                    <div class="checkout-cart-total card">

                      <h4>Productos <span>Precio</span></h4>
                      <ul>
                        {% for sale in cart.products_sales %}
                        <li><span class="left">{{sale.product_name}} X {{sale.quantity}}</span> <span
                            class="right">${{sale.original_price|number_format}}</span>
                        </li>
                        {% endfor %}
                      </ul>
                      <p>Sub Total <span>${{ cart.subtotal|number_format }}</span></p>
                      {% if cart.total_discount>0  %}
                      <p>Descuento <span>-${{ cart.total_discount|number_format }}</span></p>
                      {% endif %}
                      {% if cart.shipping_total>0  %}
                      <p>Costo de Envío<span id="costo-envio">${{cart.shipping_total|number_format}}</span>
                        <br>*: Costo de envío aplicado a compras inferiores a 30.000 de una viña en particular.
                      </p>
                      {% else %}
                      <p>Costo de Envío<span id="costo-envio">$0</span>
                        <br><a style="font-size:12px">*: Costo de envío aplicado a compras inferiores a 30.000 de una viña en particular.</a>
                      </p>
                      {% endif %}

                      <h4>Total <span id="final-total">${{cart.total_price|number_format}}</span></h4>

                    </div>

                  </div>

                  <!-- Payment Method -->
                  <div class="col-12">

                    <h4 class="checkout-title">Método de pago</h4>

                    <div class="checkout-payment-method">

                      <div class="single-method">
                        <input required="required" type="radio" id="payment_check" name="payment-method" checked>
                        <label for="payment_check">Webpay</label>
                      </div>
                    </div>

                    <button class="place-order" type="submit" id="send">Comprar</button>

                  </div>

                </div>
              </div>

            </div>
          </form>
                
              
        </div>

      </div>
     
    </div>
  </section>

  {% include 'AppBundle:base:footer.html.twig' %}

  <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}
{% block javascripts %}
<script>
  $("#shipping").change(function () {

    var formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'USD',

      // These options are needed to round to whole numbers if that's what you want.
      minimumFractionDigits: 0,
      maximumFractionDigits: 0,
    });

    var shippingAmount = $('option:selected', this).attr('shipping-amount');
    var shippingDynamicFee = $('option:selected', this).attr('shipping-dynamic');
    var shippingValuesUpTo = $('option:selected', this).attr('values-up-to');
    var selected = $("#shipping").val();

    if(shippingDynamicFee == 1){
      var parametros = {
        "cartId": {{ cart.cart_id }},
        "shippingMethod" : selected
      };

      $.ajax({
        type: 'GET',
        url: Routing.generate('calculateDynamicShipping'),
        data: parametros,
        dataType: "json",
        beforeSend: function(){
          $("#send").attr("disabled", true);
          $("#send").attr("value", 'Calculando...');
        },
        success: function(response){
          console.log(response);
          //$("#div-carousel").html(response.html);
          //console.log("stock: "+response.stock);
          //$(".divtags #id_"+atribute+"_"+value).remove();
          //console.log("div a eliminar: #id_"+atribute+"_"+value);
          /*$("#variantId").val(response.id);
          document.getElementById("price").innerHTML = formatter.format(response.price);*/
          var amount = 0;
          amount = response.shipping_total;
          $('#costo-envio').html(formatter.format(amount));
          nuevoTotal = parseInt("{{cart.subtotal}}") + parseInt(amount) - parseInt("{{cart.total_discount}}");
          $('#final-total').html(String(formatter.format(nuevoTotal)));
          $("#send").attr("disabled", false);
          $("#send").attr("value", 'Comprar');
        }
      });


      {#var products_sale = {{ cart.products_sales|json_encode|raw }};
      var amount = 0;
      products_sale.forEach(element => {
        if((element.sale_total_price)<shippingValuesUpTo){
          amount = amount + parseInt(shippingAmount);
        }else{
          amount = amount + 0;
        }
      });
      $('#costo-envio').html(formatter.format(amount));
      nuevoTotal = parseInt("{{cart.subtotal}}") + parseInt(amount) - parseInt("{{cart.total_discount}}");#}
    }else{
      $('#costo-envio').html(formatter.format(shippingAmount));
      nuevoTotal = parseInt("{{cart.subtotal}}") + parseInt(shippingAmount) - parseInt("{{cart.total_discount}}");
      $('#final-total').html(String(formatter.format(nuevoTotal)));
    }
    
    
  }).change();

  $(document).ready(function () {
    var Fn = {
      validaRut: function (rutCompleto) {
        if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test(rutCompleto))
          return false;
        var tmp = rutCompleto.split('-');
        var digv = tmp[1];
        var rut = tmp[0];
        if (digv == 'K') digv = 'k';
        return (Fn.dv(rut) == digv);
      },
      dv: function (T) {
        var M = 0, S = 1;
        for (; T; T = Math.floor(T / 10))
          S = (S + T % 10 * (9 - M++ % 6)) % 11;
        return S ? S - 1 : 'k';
      }
    }

    $("#rut").change(function () {
      $('#rut').val($('#rut').val().toUpperCase());
      if (Fn.validaRut($("#rut").val())) {
        $("#error-rut").hide();
      } else {
        $("#error-rut").show();
        $("#rut").text("");
      }
    });

    $("#checkout-form").submit(function (event) {
      if (Fn.validaRut($("#rut").val())) {
        $('#rut').val($('#rut').val().toUpperCase());
        return true;

      }
      else {
        event.preventDefault();
      }

    });
  });

</script>
<script>
  const mensaje = document.getElementById('mensaje');
  const contador = document.getElementById('contador');

  mensaje.addEventListener('input', function (e) {
    const target = e.target;
    const longitudMax = target.getAttribute('maxlength');
    const longitudAct = target.value.length;
    contador.innerHTML = `${longitudAct}/${longitudMax}`;
  });
</script>
<script>
  $("form").submit(function (event) {
    if ($("#mensaje").val().length <= 69) {
      $("#success-mensaje").text("correcto...").show();
    } else {
      $("#error-mensaje").text("Máximo 69 carácteres").show().fadeOut(1000);
      event.preventDefault();
    }
  });
</script>

<script src="js/custom.js"></script>
{% endblock %}