{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Chelenko - Tienda{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerstatic.html.twig' %}

  <!-- Quick View Modal -->

  <div class="modal modal-quick-view fade" id="quick-view" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="cross-btn">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="belly-product belly-product--details product-details--left-thumbnail">
            <div class="row">
              <div class="col-lg-5">

                <div class="product__image">
                  <div class="product-image-main">
                    <img id="zoom_03" src="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}" />
                  </div>
                  <div id="product-view-gallary" class="product-view-slider product-view-standered-slider-2">

                    <a href="#" class="gallary-item" data-image="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}">
                      <img src="{{asset(products[0].img)}}" />
                    </a>

                    <a href="#" class="gallary-item" data-image="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}">
                      <img src="{{asset(products[0].img)}}" />
                    </a>

                    <a href="#" class="gallary-item" data-image="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}">
                      <img src="{{asset(products[0].img)}}" />
                    </a>

                    <a href="#" class="gallary-item" data-image="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}">
                      <img src="{{asset(products[0].img)}}" />
                    </a>
                    <a href="#" class="gallary-item" data-image="{{asset(products[0].img)}}"
                      data-zoom-image="{{asset(products[0].img)}}">
                      <img src="{{asset(products[0].img)}}" />
                    </a>

                  </div>
                </div>
              </div>
              <div class="col-lg-7">

                <div class="product-description">
                  <h3 class="product__caption">Accumsan Elit</h3>
                  
                  <div class="product__price">
                    <span class="price--new">$350</span>
                  </div>
                  <div class="product-description--list">
                    <br>
                    <p>Ex Tax: $320.00</p>
                    <p>Reward Points: %s 400</p>
                    <br>
                    <p>Brands <a href="#" class="brand-tag text-primary">Hewlett-Packard</a></p>
                    <p>Product Code: <span class="text-primary">3</span> </p>
                    <p>Reward Points: <span class="text-primary">300</span></p>
                    <p>Availability: <span class="text-primary">In Stock</span></p>
                  </div>
                  <div class="product-description--breif">
                    <p>
                      Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate,
                      tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci
                      luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus
                      adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class
                      aptent taciti sociosqu ad litora torquent per conubia nostra, p..
                    </p>
                  </div>
                  <div class="product-buttons--group ">
                    <div class="single-btn-block count-input-block">
                      <input type="number" class="form-control text-center" value="1">
                      <div class="count-input-btns">
                        <button class="inc-ammount count-btn">+</button>
                        <button class="dec-ammount count-btn">-</button>
                      </div>
                    </div>
                    <div class="single-btn-block btn-big">
                      <a href="{{path('carrito')}}" class="theme-btn ">Add to Cart</a>
                    </div>
                    <div class="single-btn-block btn-big">
                      <ul class="social-btns">
                        <li><a href="#" class="facebook"><i class="far fa-thumbs-up"></i><span>likes 1</span></a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i> <span>twitter</span></a></li>
                        <li><a href="#" class="google"><i class="fas fa-plus-square"></i> <span>share</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="belly-bredcrumb-section">
    <div class="section-title section-title-sep-1">
      <h2>Tienda</h2>
      <p>Los vinos más emblemáticos y exclusivos los puedes coleccionar <br> a un precio muy especial  con tu código de descuento al momento de pagar.<br>Promoción válida desde el 7 al 16 de septiembre.</p>
  </div>
  </div>
  <section class="section-padding pt-0">
    <div class="container">
      {#<div class="shop-toolbar mb-30">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-6 col-5">
            <!-- Product View Mode -->
            <div class="product-view-mode">
              <a class="sortting-btn" href="#" data-target="list"><i class="fas fa-list"></i></a>
              <a href="#" data-target="grid" class="sortting-btn  active"><i class="fas fa-th"></i></a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-3 col-md-6 col-7">
            <div class="sorting-selection row">
              <select id="input-sort" class="form-control col-lg-6 col-6">
                <option value="" selected="selected">Ordenar por:Defecto</option>
                <option value="">Ordenar
                  Por:Nombre (A - Z)</option>
                <option value="">Ordenar
                  Por:Nombre (Z - A)</option>
                <option value="">Ordenar
                  Por:Precio (Low &gt; High)</option>
                <option value="">Ordenar
                  Por:Precio (High &gt; Low)</option>
                <option value="">Ordenar
                  Por:Clasificación (La más alta)</option>
                <option value="">Ordenar
                  Por:Clasificación (La más baja)</option>
                <option value="">Ordenar
                  Por:Modelo (A - Z)</option>
                <option value="">Ordenar
                  Por:Modelo (Z - A)</option>
              </select>
              <select id="input-limit" class="form-control col-lg-4 offset-lg-2 col-6">
                <option value="" selected="selected">Mostrar:9</option>
                <option value="">Mostrar:25</option>
                <option value="">Mostrar:50</option>
                <option value="">Mostrar:75</option>
                <option value="">Mostrar:100</option>
              </select>
            </div>
          </div>
        </div>
      </div>#}
      <div class="shop-product-wrap grid with-pagination row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
          <div class="belly-product">
            <div class="product__image">
              <img src="{{asset(product.img)}}" alt="">
              <div class="hover-content">
                <a href="{{path('producto',{'id':product.id})}}" class="hover-image">
                  <img src="{{asset(product.img)}}" alt="">
                </a>
                <div class="hover-btns">
                  {#<a href="" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#quick-view"><i class="ion-md-open"></i></a>#}
                </div>
              </div>
              <span class="product-badge badge--sell-green"></span>
            </div>
            <div class="product-contents">
              <h3 class="product__caption">
                <a href="{{path('producto',{'id':product.id})}}">{{product.name}}</a>
                
              </h3>
              <span class="blog-subtitle">{{product.brand}}</span>
             
              <div class="product__price">
                {% if product.comparison_price is not null %}
                  <span class="price--old">${{product.comparison_price|number_format }}</span>
                {% endif %}
                <span class="price--new">${{product.price|number_format }}</span>
              </div>
              <p class="product-info-para">
                {{product.description}}
              </p>
              <div class="product__btn">
                <a href="{{path('producto',{'id':product.id})}}" class="theme-btn-outlined--type-2">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {#<div class="pagination-widget">
        <div class="row align-items-sm-center">
          <div class="col-sm-6 text-sm-left">
            <div class="site-pagination">
              <a href="#" class="single-pagination">|< </a>
                  <a href="#" class="single-pagination">
                    < </a>
                      <a href="#" class="single-pagination">1</a>
                      <a href="#" class="single-pagination">2</a>
                      <a href="#" class="single-pagination">></a>
                      <a href="#" class="single-pagination">>|</a>
            </div>
          </div>
          <div class="col-sm-6 text-sm-right">
            <p class="mt-0 mt-sm-3">
              {#Mostrando desde 1 a 9 of 11 (2 Páginas)#}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'AppBundle:base:footer.html.twig' %}

</div>
<!-- Site Wrapper Ends -->


{% endblock %}