{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Tienda{% endblock %}

{% block body %}
  <style>
    
      .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
  </style>
{% include 'AppBundle:base:headerstatic.html.twig' %}
<section class="tours-header">
	<div class="container">
    <div class="row">
    	<div class="col-12">
    		<h6>YOU SEARCHED</h6>
    		<h2>Adventure Tours in Denmark</h2>
    		<p>Found <strong>83 Tours</strong>, Use the filters below to refine the search.</p>
    	</div>
    	<!-- end col-12 -->
    	<div class="col-12">
    		<div class="filter data-range-picker">
    			<a>Dates <i class="fa fa-angle-down"></i></a>
    		</div>
    		<!-- end filter -->
    		<div class="filter dropdown">
    			<a href="#" data-toggle="dropdown">Duration <i class="fa fa-angle-down"></i></a>
    			<ul class="dropdown-menu dropdown-check">
    				<li><input type="checkbox"><span>3-5 Days</span></li>
    				<li><input type="checkbox"><span>5-7 Days</span></li>
    				<li><input type="checkbox"><span>7-9 Days</span></li>
    				<li><input type="checkbox"><span>10-15 Days</span></li>
            <li>
            <div>
              <span><i class="fa fa-times"></i>CLEAR</span>
              <span><i class="fa fa-check"></i>APPLY</span>
            </div>
            </li>
    			</ul>
    		</div>
    		<!-- end filter -->
    		<div class="filter dropdown">
    			<a href="#" data-toggle="dropdown">Category <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-check">
            <li><input type="checkbox"><span>Glacier Walks</span></li>
            <li><input type="checkbox"><span>Ice Caves</span></li>
            <li><input type="checkbox"><span>Hiking and Trekking</span></li>
            <li><input type="checkbox"><span>Short Breaks and Getaways</span></li>
            <li><input type="checkbox"><span>Lava Caves</span></li>
            <li><input type="checkbox"><span>Northern Lights</span></li>
            <li><input type="checkbox"><span>Laugavegur Trek</span></li>
            <li><input type="checkbox"><span>Kayak Tours</span></li>
            <li>
            <div>
              <span><i class="fa fa-times"></i>CLEAR</span>
              <span><i class="fa fa-check"></i>APPLY</span>
            </div>
            </li>
          </ul>
    		</div>
    		<!-- end filter -->
    		<div class="filter dropdown">
    			<a href="#" data-toggle="dropdown">Starts from <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-check">
    				<li><input type="checkbox"><span>Brasilli</span></li>
    				<li><input type="checkbox"><span>Skaftafell</span></li>
    				<li><input type="checkbox"><span>Skiljones Bay</span></li>
    				<li><input type="checkbox"><span>Viktoria</span></li>
            <li>
            <div>
              <span><i class="fa fa-times"></i>CLEAR</span>
              <span><i class="fa fa-check"></i>APPLY</span>
            </div>
            </li>
    			</ul>
    		</div>
    		<!-- end filter -->
    		<div class="filter dropdown">
    			<a href="#" data-toggle="dropdown">Short by<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-check">
    				<li><input type="checkbox"><span>Price</span></li>
    				<li><input type="checkbox"><span>Difficulty</span></li>
    				<li><input type="checkbox"><span>Popularity</span></li>
    				<li><input type="checkbox"><span>Ending Soon</span></li>
            <li>
            <div>
              <span><i class="fa fa-times"></i>CLEAR</span>
              <span><i class="fa fa-check"></i>APPLY</span>
            </div>
            </li>
    			</ul>
    		</div>
    		<!-- end filter -->
    		<ul class="view-type tour-view-type">
    			<li><a href="#" class="tour-list-icon"><i class="fa fa-align-justify"></i></a></li>
    			<li><a href="#" class="tour-grid-icon"><i class="fa fa-th"></i></a></li>
    		</ul>
    	</div>
    	<!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end tours-header -->
<section class="tours-list tours">
  <div class="container">
    <div class="row">
      {% for tour in tours %}
        <div class="col-12 column">
          <div class="tour-box-list t-box">
            <figure><img src="{{tour.img}}" alt=""></figure>
            <div class="tour-content">
            <h3>{{tour.name}}</h3>
              <p>{{tour.description}}</p>
              <div class="inner">
              <ul>
                <li> <img src="{{ asset('image/images/icon-date.png')}}" alt="Image"> <small>Hora Inicio</small> <span>{{tour.horaInicio}}</span> </li>
                <li> <img src="{{ asset('image/images/icon-time.png')}}" alt="Image"> <small>Duración</small> <span>{{tour.duracion}}</span> </li>
                <li> <img src="{{ asset('image/images/icon-tag.png')}}" alt="Image"> <small>Desde:</small> <span>${{tour.price}}</span> </li>
              </ul>
              <a href="{{tour.url}}" target="_blank">RESERVA EN LÍNEA</a>
              </div>
              <!-- end inner -->
                </div>
            <!-- end tour-content -->
          </div>
          <!-- end tour-box -->
        </div>
      {% endfor %}
      
      <!-- end col-12 -->
      
      <div class="col-12 text-center"> <a href="#" class="site-btn">LOAD MORE</a> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end tours-grid -->
<section class="quote bg-image" data-background="{{ asset('image/images/quote-bg04.jpg')}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>The Most Awarded Adventure<br>
          Tour Company in Europe</h2>
        <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. In erat est viverra fringilla euismod in fermentum sed augue nullam consectetur ligula id elementum.</p>
        <a href="#" class="site-btn">LEARN MORE</a> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote -->

{% include 'AppBundle:base:footer.html.twig' %}

{% endblock %}