{% extends 'AppBundle:base:base1.html.twig' %}

{% block title %}Aysen - Tienda{% endblock %}

{% block body %}
  <style>
    
      .navbar .navbar-nav .nav-item .nav-link {
        color: black !important; 
      }
  </style>
{% include 'AppBundle:base:headerstatic.html.twig' %}
<section class="tours-header">
	<div class="container">
    <div class="row">
    	<div class="col-12">
    		
    		<h2 class="justify-content-center">Actividades</h2>
    		<p>Found <strong>83 Tours</strong>, Use the filters below to refine the search.</p>
    	</div>
    	<!-- end col-12 -->
    	<div class="col-6">
    		
    		<!-- end filter -->
    		<ul class="view-type tour-view-type justify-content-center">
    			<li><a href="#" class="tour-list-icon"><i class="fa fa-align-justify"></i></a></li>
    			<li><a href="#" class="tour-grid-icon"><i class="fa fa-th"></i></a></li>
    		</ul>
    	</div>
    	<!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end tours-header -->
<section class="tours-list tours">
  <div class="container">
    <div class="row">
      {% for tour in tours.tours %}
        <div class="col-12 column">
          <div class="tour-box-list t-box">
            <figure><img src="{{tour.img}}" alt=""></figure>
            <div class="tour-content">
            <h3>{{tour.name}}</h3>
              <p>{{tour.description}}</p>
              <div class="inner">
              <ul>
                <li> <img src="{{ asset('image/images/icon-date.png')}}" alt="Image"> <small>Hora Inicio</small> <span>{{tour.horaInicio}}</span> </li>
                <li> <img src="{{ asset('image/images/icon-time.png')}}" alt="Image"> <small>Duración</small> <span>{{tour.duracion}}</span> </li>
                <li> <img src="{{ asset('image/images/icon-tag.png')}}" alt="Image"> <small>Desde:</small> <span>${{tour.price}}</span> </li>
              </ul>
              <a href="{{tour.url}}" target="_blank">RESERVA EN LÍNEA</a>
              </div>
              <!-- end inner -->
                </div>
            <!-- end tour-content -->
          </div>
          <!-- end tour-box -->
        </div>
      {% endfor %}
      
      <!-- end col-12 -->
      
      <div class="col-12 text-center"> <a href="#" class="site-btn">LOAD MORE</a> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end tours-grid -->
<section class="quote bg-image" data-background="{{ asset('image/images/quote-bg04.jpg')}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>The Most Awarded Adventure<br>
          Tour Company in Europe</h2>
        <img src="{{ asset('image/images/title-seperator.png')}}" alt="Image">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. In erat est viverra fringilla euismod in fermentum sed augue nullam consectetur ligula id elementum.</p>
        <a href="#" class="site-btn">LEARN MORE</a> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote -->

{% include 'AppBundle:base:footer.html.twig' %}

{% endblock %}